{% extends "admin/base_admin.html" %}

{% block title %}Add Menu Item{% endblock %}
{% block header %}Add Menu Item{% endblock %}
{% block content %}
    <h2>Add New Menu Item</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success"style="background: linear-gradient(135deg, #1e3c72, #2a5298);">Add Menu Item</button>
        <a href="{% url 'manage_users' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
