<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for item in menu_items %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img
          src="{{ item.image.url }}"
          alt="{{ item.name }}"
          class="card-img-top"
          style="object-fit: cover; height: 200px"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text"><strong>₹ {{ item.price }}</strong></p>
          <button
            class="btn btn-primary mt-2 w-100 add-to-cart"
            data-id="{{ item.id }}"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No items available in this category.</p>
    {% endfor %}
  </body>
</html>
